---
---

<div class="Column-section">
	<div class="Column-content">
		<slot/>
	</div>
</div>

<style lang="scss" is:global>
	@use "../sass/mixins/layout";
	@use "../sass/mixins/fonts";

	@mixin Column-section-text-styles {
		h1, h2 {
			@include fonts.Montserrat(2.5rem);
			
			text-align: center;
		}
	}

	.Column-section {
		@include layout.grid(center, center);

		background-color: var(--main-theme_secondary);
		width: 100vw;
		height: 35rem;

		&:nth-of-type(odd) {
			background-color: var(--main-theme_primary);
		}

		&:nth-of-type(even) {
			border: {
				top: 1px solid var(--border-color-secondary);
				bottom: 1px solid var(--border-color-secondary);
			}
		}

		> .Column-content {
			@include layout.flex(center, center);
			
			gap: 200px;
			width: 100vw;
			max-width: 1300px;
		}

		@include Column-section-text-styles;
	}
</style>