---
interface Props {
	CurrentPage: string
}

import TopbarButton from "../components/TopbarButton.astro";
const {CurrentPage} = Astro.props
---

<header>
	<TopbarButton Text="Home" Active={(CurrentPage == "Home").toString()}/>
	<TopbarButton Text="About" Active={(CurrentPage == "About").toString()}/>
	<TopbarButton Text="Projects" Active={(CurrentPage == "Projects").toString()}/>
	<TopbarButton Text="Servers" Active={(CurrentPage == "Servers").toString()}/>
</header>
<div id="header-scrolling"></div>

{/*When scrolling, activate the topbar style class*/}
<script>
	const Topbar = document.querySelector<HTMLElement>("header")
	const HeaderScrolling = document.getElementById("header-scrolling")
	const ScrollingStarted = (entries: IntersectionObserverEntry[]): void => {
		HeaderScrolling.classList.toggle("active", !entries[0].isIntersecting)
	}
	const TopbarObserver = new window.IntersectionObserver(ScrollingStarted, {
		threshold: 1
	})
	TopbarObserver.observe(Topbar)
</script>

<style lang="scss">
	@use "../sass/transitions";
	@use "../sass/mixins/layout";

	header {
		@include layout.flex(center, center);

		background-color: var(--main-theme-header_primary);
		width: 100vw;
		height: 6rem;
		top: -1px;
		backdrop-filter: blur(10px);
		gap: 5rem;
		z-index: 1;
		position: sticky;
	}

	#header-scrolling {
		background-color: var(--border-color);
		margin-inline: auto;
		width: 0;
		height: .1rem;
		top: 95px;
		z-index: 1;
		position: sticky;
		transition: width transitions.$Header-border-scroll-start;

		&.active {
			width: 100vw;
			transition: width transitions.$Header-border-scroll-attop;
		}
	}
</style>