---
interface Props {
	Context: string,
	Description?: string
}
interface Links {
	URL: string,
	ProfilePicture: string
}

const {Context, Description} = Astro.props

export const GitHubLinks: Links = {
	URL: "https://github.com/interpreterK",
	ProfilePicture: "https://avatars.githubusercontent.com/u/80614657"
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="description" content={Description ? Description : `rhpidfyre.io | ${Context}`}/>
		<title>{`rhpidfyre.io | ${Context}`}</title>
		<link rel="icon" type="image/x-icon" href={GitHubLinks.ProfilePicture}>
	</head>
	<body>
		<slot/>
	</body>
</html>

<style lang="scss" is:global>
	@forward "../fonts/fonts.css";
	@forward "../sass/themes/auto";

	body {
		display: grid;
		box-sizing: border-box;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		background-color: var(--main-theme_primary);

		:where(h1, h2, p, button) {
			font-family:
				-apple-system,
				BlinkMacSystemFont,
				avenir next,
				avenir,
				segoe ui,
				helvetica neue,
				helvetica,
				Cantarell,
				Ubuntu,
				roboto,
				noto,
				arial,
				sans-serif;
		}
	}
</style>
