---
interface Props {
	Context: string,
	Description?: string
}

const {Context,Description} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="description" content={Description ? Description : `rhpidfyre.io | ${Context}`}/>
		<title>{`rhpidfyre.io | ${Context}`}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>

<style lang="scss" is:global>
	@use "../fonts/fonts.css";

	:root {
		--header-height: 6rem;
	}

	body {
		box-sizing: border-box;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		background-color: #303841;

		:is(h1, h2, p, button) {
			font-family:
				-apple-system,
				BlinkMacSystemFont,
				avenir next,
				avenir,
				segoe ui,
				helvetica neue,
				helvetica,
				Cantarell,
				Ubuntu,
				roboto,
				noto,
				arial,
				sans-serif;
		}
	}
</style>
