---
interface Props {
	Context: string,
	Description?: string
}

const {Context, Description} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="description" content={Description ? Description : `rhpidfyre.io | ${Context}`}/>
		<title>{`rhpidfyre.io | ${Context}`}</title>
		<link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/80614657">
	</head>
	<body>
		<slot/>
	</body>
</html>

<style lang="scss" is:global>
	@use "../fonts/fonts.css";

	:root {
		--border-color: #969696;
		--main-theme_primary: #303841;
		--main-theme_secondary: #282e36;
		--main-theme-header_primary: #1e2329;
		--footer-theme_primary: #22272e;
		--footer-theme_copyright: #1c2026;
		--button-hover: #181c21;
	}

	::selection {
		background-color: white;
		color: black
	}

	html {
		color-scheme: dark;
	}

	body {
		display: grid;
		box-sizing: border-box;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		background-color: var(--main-theme_primary);

		:where(h1, h2, p, button) {
			font-family:
				-apple-system,
				BlinkMacSystemFont,
				avenir next,
				avenir,
				segoe ui,
				helvetica neue,
				helvetica,
				Cantarell,
				Ubuntu,
				roboto,
				noto,
				arial,
				sans-serif;
		}
	}
</style>
