---
import WebPage from "../layouts/WebPage.astro";
import TopBar from "../layouts/TopBar.astro";
---

<WebPage Title="Home">
    <TopBar/>
    <main>
        
    </main>
</WebPage>

<style lang="scss">

</style>
