---
import WebPage from "../layouts/WebPage.astro"
import Topbar from "../layouts/Topbar.astro"
import WebGL from "../components/vue-home/WebGL.vue"
import Footer from "../layouts/Footer.astro"
---

<WebPage Context="Home">
	<WebGL client:only/>
	<Topbar CurrentPage="Home"></Topbar>
	<main>
		<div id="welcome-content">
			<h2 id="main-h2-text">You have reached the website for...</h2>
			<h1 id="main-h1-text">rhpidfyre.io</h1>
		</div>
		<div id="section-middle">
			<h1>asd</h1>
		</div>
	</main>
	<Footer/>
</WebPage>

<style lang="scss">
	$Main-height: calc(100vh - var(--header-height));

	@mixin main-h1-props {
		font: {
			family: "Montserrat";
			size: 4.7rem;
		};
		margin: 0 {
			inline: auto;
		};
		padding: 5px;
		width: 70%;
	}

	@mixin main-h2-props {
		font: {
			family: "Montserrat";
			size: 2.5rem;
			weight: normal;
		};
		padding: 15px;
		margin-inline: auto;
	}

	@mixin main-header-container {
		> :is(#main-h1-text, #main-h2-text) {
			text-align: center;
			color: white;
			background-color: var(--main-theme-header_primary);
			backdrop-filter: blur(5px);
			border-radius: 10px;
		}
		> #main-h1-text {
			@include main-h1-props;
		}
		> #main-h2-text {
			@include main-h2-props;
		}		
	}

	@mixin middle-section-layout {
		width: 100vw;
		height: 40vh;
		background-color: var(--main-theme_secondary);
	}

	main {
		display: grid;
		justify-content: center;
		height: $Main-height;

		> #welcome-content {
			display: inherit;
			justify-content: inherit;
			align-content: center;
			width: 100vw;
			height: inherit;

			@include main-header-container;
		}

		> #section-middle {
			@include middle-section-layout;
		}
	}
</style>