---
import WebPage from "../layouts/WebPage.astro"
import Topbar from "../layouts/Topbar.astro"
import WebGL from "../components/vue-home/WebGL.vue"
import PageColumn from "../components/PageColumn.astro"
import Footer from "../layouts/Footer.astro"

import {GitHubLinks} from "../layouts/WebPage.astro"
---

<WebPage Context="Home">
	<WebGL client:only/>
	<Topbar CurrentPage="Home"/>
	<main>
		<div id="Welcome-section">
			<h2>You have reached the website for...</h2>
			<h1>rhpidfyre.io</h1>
		</div>
		<!-- GitHub -->
		<PageColumn>
			<div id="GitHub-profile-section">
				<a href={GitHubLinks.URL} target="_blank">
					<img src={GitHubLinks.ProfilePicture} alt="GitHub Avatar Image">
				</a>
				<h1 id="GitHub-Nickname">rhpidfyre</h1>
				<h2 id="GitHub-Username">interpreterK</h2>
			</div>
			<div>
				<h1>rhpidfyre.io is my personal website</h1>
				<h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed error debitis deserunt quidem vel officiis possimus mollitia in dignissimos assumenda quas itaque, asperiores suscipit facilis nostrum expedita. Eveniet officiis, esse.</h2>
			</div>
		</PageColumn>
		<PageColumn>
			
		</PageColumn>
	</main>
	<Footer/>
</WebPage>

<style lang="scss">
	@use "../sass/sizes";
	@use "../sass/transitions";
	@use "../sass/mixins/fonts";
	@use "../sass/mixins/layout";

	@forward "../sass/layouts/home";

	#Welcome-section {
		@include layout.grid(inherit, center, center);

		height: sizes.$Index-welcome-height;
		width: 100vw;

		//> :is(h1, h2)
		@mixin Header-Block-Style {
			text-align: center;
			color: white;
			background-color: #1e2329cc;
			backdrop-filter: blur(5px);
			border-radius: 10px;
		}

		> h1 { //"You have reached the website for..."
			@include fonts.Montserrat(4.7rem);
			@include Header-Block-Style;

			margin: 0 {
				inline: auto;
			};
			padding: 5px;
			width: 70%;
		}

		> h2 { //"rhpidfyre.io"
			@include fonts.Montserrat(2.5rem, normal);
			@include Header-Block-Style;

			padding: 15px;
			margin-inline: auto;
		}
	}
	
	#GitHub-profile-section {
		h2 {
			margin-top: 0;
		}

		a {
			@include fonts.Montserrat(1.5rem);

			display: block; //just for the text to be centered, why?
			text-align: center;
		}

		img {
			height: 280px;
			border-radius: 50%;
			transition: transform transitions.$Index-image-hover-leave;

			&:hover {
				transform: rotate(360deg);
				transition: transform transitions.$Index-image-hover;
			}
		}

	}
</style>
