---
import WebPage from "../layouts/WebPage.astro"
import Topbar from "../layouts/Topbar.astro"
import WebGL from "../components/vue-home/WebGL.vue"
import Footer from "../layouts/Footer.astro"

interface PageLocations {
	About: string,
	Projects: string
}

const Pages: PageLocations = {
	About: "",
	Projects: ""
}
---

<WebPage Context="Home">
	<WebGL client:only/>
	<Topbar CurrentPage="Home"/>
	<main>
		<div id="welcome-content">
			<h2 id="main-h2-text">You have reached the website for...</h2>
			<h1 id="main-h1-text">rhpidfyre.io</h1>
		</div>
		<div id="middle-section">
			<div id="github-profile-content">
				<a href="https://github.com/interpreterK" target="_blank">
					<img src="https://avatars.githubusercontent.com/u/80614657" alt="GitHub Avatar">
				</a>
				<h1 id="github-nick">rhpidfyre</h1>
				<h2 id="github-username">interpreterK</h2>
			</div>
			<div id="side-about">
				<h1>rhpidfyre.io is my personal website</h1>
				<a href={Pages.About}>
					<button>About &#8250;</button>
				</a>
				<a href={Pages.Projects}>
					<button>Projects &#8250;</button>
				</a>
			</div>
		</div>
		<Footer/>
	</main>
</WebPage>

<style lang="scss">
	$Main-height: calc(100vh - var(--header-height));

	@mixin main-h1-props {
		font: {
			family: "Montserrat";
			size: 4.7rem;
		};
		margin: 0 {
			inline: auto;
		};
		padding: 5px;
		width: 70%;
	}

	@mixin main-h2-props {
		font: {
			family: "Montserrat";
			size: 2.5rem;
			weight: normal;
		};
		padding: 15px;
		margin-inline: auto;
	}

	@mixin main-header-container {
		> :is(#main-h1-text, #main-h2-text) {
			text-align: center;
			color: white;
			background-color: #1e2329cc;
			backdrop-filter: blur(5px);
			border-radius: 10px;
		}
		> #main-h1-text {
			@include main-h1-props;
		}
		> #main-h2-text {
			@include main-h2-props;
		}
	}

	@mixin profile-content {
		> #github-nick {
			font-size: 3rem;
			margin-bottom: 0;
		}

		> #github-username {
			font-weight: normal;
			letter-spacing: 1px;
			margin-top: 10px;
			color: #b4b4b4;
		}
	}

	@mixin middle-section-content {
		h1 {
			font: {
				family: "Montserrat";
				size: 2.2rem;
			};
			text-align: center;
			margin-top: 10px;
		}
		h2 {
			text-align: center;
		}

		> #github-profile-content {
			img {
				height: 280px;
				border-radius: 50%;
				transition: transform 1s;

				&:hover {
					transform: rotate(360deg);
					transition: transform 1.5s;
				}
			}

			@include profile-content;
		}
	}

	main {
		display: grid;
		justify-content: center;
		height: $Main-height;
		position: relative;

		> #welcome-content {
			display: inherit;
			justify-content: inherit;
			align-content: center;
			height: inherit;
			width: 100vw;

			@include main-header-container;
		}

		> #middle-section {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 200px;
			width: 100vw;
			height: 35rem;
			background-color: var(--main-theme_secondary);

			@include middle-section-content;
		}
	}
</style>