---
import WebPage from "../layouts/WebPage.astro"
import Topbar from "../layouts/Topbar.astro"
import WebGL from "../components/vue-home/WebGL.vue"
import Footer from "../layouts/Footer.astro"
---

<WebPage Context="Home">
	<WebGL client:only/>
	<Topbar CurrentPage="Home"/>
	<main>
		<div id="welcome-section">
			<h2 id="main-h2-text">You have reached the website for...</h2>
			<h1 id="main-h1-text">rhpidfyre.io</h1>
		</div>
		<div id="middle-section">
			<div id="github-profile-content">
				<a href="https://github.com/interpreterK" target="_blank">
					<img src="https://avatars.githubusercontent.com/u/80614657" alt="GitHub Avatar Image">
				</a>
				<h1 id="github-nick">rhpidfyre</h1>
				<h2 id="github-username">interpreterK</h2>
			</div>
			<div id="side-about">
				<h1>rhpidfyre.io is my personal website</h1>
				<h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed error debitis deserunt quidem vel officiis possimus mollitia in dignissimos assumenda quas itaque, asperiores suscipit facilis nostrum expedita. Eveniet officiis, esse.</h2>
			</div>
		</div>
	</main>
	<Footer/>
</WebPage>

<style lang="scss">
	@use "../sass/sizes";

	main {
		display: grid;
		justify-content: center;
	}

	h1 {
		font: {
			family: "Montserrat";
			size: 2.5rem;
		};
		text-align: center;
		margin-top: 10px;
	}

	h2 {
		text-align: center;
		max-width: 1000px;
	}

	#welcome-section {
		display: inherit;
		justify-content: inherit;
		align-content: center;
		height: sizes.$Index-welcome-height;
		width: 100vw;
	}

	#main-h1-text, #main-h2-text {
		text-align: center;
		color: white;
		background-color: #1e2329cc;
		backdrop-filter: blur(5px);
		border-radius: 10px;
	}

	#main-h1-text {
		font: {
			family: "Montserrat";
			size: 4.7rem;
		};
		margin: 0 {
			inline: auto;
		};
		padding: 5px;
		width: 70%;
	}

	#main-h2-text {
		font: {
			family: "Montserrat";
			size: 2.5rem;
			weight: normal;
		};
		padding: 15px;
		margin-inline: auto;
	}

	#middle-section {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 200px;
		width: 100vw;
		height: 35rem;
		background-color: var(--main-theme_secondary);
	}

	#github-nick {
		font-size: 3rem;
		margin-bottom: 0;
	}

	#github-username {
		font-weight: normal;
		letter-spacing: 1px;
		margin-top: 10px;
		color: #969696;
	}

	#side-about > h2 {
		color: #e6e6e6;
		font-weight: normal;
	}

	#github-profile-content {
		a {
			display: block; //just for the text to be centered, why?
			text-align: center;
			font: {
				family: "Montserrat";
				size: 1.5rem
			}
		}

		img {
			height: 280px;
			border-radius: 50%;
			transition: transform 1s;

			&:hover {
				transform: rotate(360deg);
				transition: transform 1.5s;
			}
		}
	}
</style>
