---
import WebPage from "../layouts/WebPage.astro";
import Topbar from "../layouts/Topbar.astro";
---

<WebPage Context="Projects">
	<Topbar CurrentPage="Projects"/>
	<main>
		
	</main>
</WebPage>

<style lang="scss">
	
</style>